/* Table Fixed */

.acheive-shared-table {
    width: 100%;
}

.acheive-shared-table thead,
tbody,
tr,
td,
th {
    display: block;
}

.acheive-shared-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.acheive-shared-table thead th {
    height: 3rem;
    width: 20%;
}

.acheive-shared-table tbody {
    height: 50vh;
    overflow-y: auto;
}

.acheive-shared-table thead {}


.acheive-shared-table tbody td,
thead th {
    width: 20%;
    float: left;
    padding: 1rem !important;
}



/* Table Gate examFixed */

.acheive-gateexam-shared-table {
    width: 100%;
}

.acheive-gateexam-shared-table thead,
tbody,
tr,
td,
th {
    display: block;
}

.acheive-gateexam-shared-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.acheive-gateexam-shared-table thead th {
    height: 3rem;
    width: 16.6%;
}

.acheive-gateexam-shared-table tbody {
    height: 50vh;
    overflow-y: auto;
}

.acheive-gateexam-shared-table thead {}


.acheive-gateexam-shared-table tbody td,
thead th {
    width: 16.6%;
    float: left;
    padding: 1rem !important;
}

/* scroll */

#acheive-sroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#acheive-sroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#acheive-sroll::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(159, 157, 157, 0.3);
	background-color: #9c9a9a;
}
